[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.3"
aiohappyeyeballs = "==2.4.3"
aiohttp = "==3.11.6"
aiohttp-retry = "==2.8.3"
aiosignal = "==1.3.1"
annotated-types = "==0.7.0"
anyio = "==4.7.0"
asgiref = "==3.8.1"
attrs = "==24.2.0"
autobahn = "==24.4.2"
automat = "==24.8.1"
certifi = "==2024.8.30"
cffi = "==1.17.1"
channels = "==3.0.4"
charset-normalizer = "==3.4.0"
constantly = "==23.10.4"
cryptography = "==44.0.0"
distro = "==1.9.0"
django-environ = "==0.11.2"
frozenlist = "==1.5.0"
h11 = "==0.14.0"
httpcore = "==1.0.7"
httpx = "==0.28.1"
hyperlink = "==21.0.0"
idna = "==3.10"
incremental = "==24.7.2"
jiter = "==0.8.0"
multidict = "==6.1.0"
openai = "==1.57.0"
propcache = "==0.2.0"
psycopg2-binary = "==2.9.10"
pyasn1 = "==0.6.1"
pyasn1-modules = "==0.4.1"
pycparser = "==2.22"
pydantic = "==2.10.3"
pydantic-core = "==2.27.1"
pyjwt = "==2.10.0"
pyopenssl = "==25.0.0"
pytz = "==2024.2"
requests = "==2.32.3"
service-identity = "==24.2.0"
sniffio = "==1.3.1"
sqlparse = "==0.5.1"
tqdm = "==4.67.1"
twilio = "==9.3.7"
twisted = "==24.11.0"
txaio = "==23.1.1"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.3"
whitenoise = "==6.8.2"
yarl = "==1.17.2"
"zope.interface" = "==7.2"
gunicorn = "==20.1.*"
uvicorn = "*"
channels-redis = "==3.3.1"

[dev-packages]

[requires]
python_version = "3.12"
