{% extends "base_generic_2.html" %}


{% block title %}
    <title>Chat-o-rama</title>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    // Sets functionality after HTML is available. 
    document.addEventListener("DOMContentLoaded", function () {
        // const form = document.querySelector("form");
        // const usernameInput = document.getElementById("username");
        // const emailInput = document.getElementById("email");

        var btn = document.getElementById("enter");
        const reset = document.getElementById("clear");
        const input_field = document.getElementById("user_input");
        const end = document.getElementById("end");
        // const scroll = document.getElementById('output'); 

        // Scroll to the bottom
        // scroll.scrollTop = scroll.scrollHeight; 
    
        const url = window.location.search;
        const param_object = new URLSearchParams(url);
        const phone_num = param_object.get('phone');

        // console.log(phone_num);
        // const console = document.getElementById("console_src");
        // console.src = `/static/T${phone_num}.txt`;

        // document.getElementById("output").innerHTML = 
        // var myText = `<script src=${phone_num}">
        //             </html>"`
        const logfile = '/static/message_logs/T' + phone_num + '_log.txt';


        // Also a functional view of the of the messages log.
        $(document).ready(function() {
            setInterval(function() {
                $('#output').load(logfile);
            }, 1000);        
        });

        // Saves us from CSRF hell.
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Clears input field and resets output.
        function reset_page() {
            document.getElementById("user_input").innerHTML = "";
        }

        // Triggers message-sending URL
        async function send_http() {
            const user_input = document.getElementById("user_input").value;
            // document.getElementById("user_input").innerHTML = "";
            const url = "https://example.com/whatsapp/send_message/";

            let data = {
                number: phone_num,
                body: user_input
            }

            let request = new Request(url, {
                method: 'POST',
                credentials: "same-origin",
                body: JSON.stringify(data),
                headers: new Headers({
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                })
            });

            fetch(request);
            reset.click();
            // Clears field after sending message.
            // document.getElementById("user_input").innerHTML = "";
        }



        function end_session() {
            const url = "https://example.com/whatsapp/end_session/";

            let data = {
                number: phone_num,
            }

            let request = new Request(url, {
                method: 'POST',
                credentials: "same-origin",
                body: JSON.stringify(data),
                headers: new Headers({
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                })
            });
            fetch(request);
        }

        
        // setInterval();
        // btn.addEventListener("click", passData);
        btn.addEventListener("click", send_http);
        // btn.addEventListener("click", reset_page); 
        reset.addEventListener("click", reset_page); 
        end.addEventListener("click", end_session);       
        input_field.addEventListener("keypress", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    btn.click();
                    reset.click();
                }
        });
    });


</script>
{% endblock %}


{% block content %}
    <br>
    <h1>TextCare</h1>
    <p>
        Welcome to TextCare, a text-based medical advice app<br>
    </p>
    <p>Developed by George & Tiffany</p>
    <h2>Doctor's Chat Console:</h2>
    <br>
    <pre id="output" style="overflow: auto; height: 100px;">
        <script>
            const script = document.createElement('console_src');
            console_src.src = logfile;
        </script>
        <script>
            console.log(text);
        </script>
    </pre>
    <!-- <div id="logbox" style="overflow: auto; height: 2px;">

    </div> -->



<br>

<form name="char_finder" style="font-size:medium;">
    {% csrf_token %}
    <p><label for="user_input"><b>Hit enter, or click "Send", to send text message:</b></nb></b></label></p>
    <p><textarea rows="2" cols="40" id="user_input" placeholder="Text to be sent"></textarea></p>

    <p><input type="button" id="enter" value="Send">
    <input type="reset" id="clear" value="Clear">
    <input type="button" id="end" value="End Session"></p>

    <p><b>Click "End Session" to end chat session and return patient to triage.</b></p>

    <p id="display" style="font-family: Georgia;"></p>

</form>

<br>

<p style="font-size: small;">NOTE: WhatsApp converations will time out after several hours.<br>
To restart, send an incoming text from the client's phone to the system.
<br>

</p>
<a href="https://github.com/nirvanabear/textcare/issues" target="_blank" rel="noopener noreferr">Feedback? Questions? Problems?</a>
<p style="font-size: small;">Click the link above, then click the green "New issue" button,<br>
or add your comments to an existing issue in the list.</p>

{% endblock %}