{% extends "base_generic_2.html" %}


{% block title %}
    <title>Chat-o-rama</title>
{% endblock %}


{% block script %}
<style>
    #end:active {
        background-color: #0072B2;
        color: #E69F00;
    }
    #clear:active {
        background-color: #0072B2;
        color: #E69F00;
    }
    #enter:active {
        background-color: #0072B2;
        color: #E69F00;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    // Sets functionality after HTML is available. 
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("enter");
        const reset = document.getElementById("clear");
        const input_field = document.getElementById("user_input");
        const end = document.getElementById("end");

    
        const url = window.location.search;
        const param_object = new URLSearchParams(url);
        const phone_num = param_object.get('phone');

        const logfile = '/whatsapp/message_logs/T' + phone_num + '_log.txt';

        // Old messages log.
        // $(document).ready(function() {
        //     setInterval(function() {
        //         $('#output').load(logfile);
        //     }, 1000);        
        // });

        // Saves us from CSRF hell.
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Clears input field and resets output.
        function reset_page() {
            document.getElementById("user_input").innerHTML = "";
        }

        // Triggers message-sending URL
        async function send_http() {
            const user_input = document.getElementById("user_input").value;
            const url = "{{ send_message_url }}";

            let data = {
                number: phone_num,
                body: user_input
            }

            let request = new Request(url, {
                method: 'POST',
                credentials: "same-origin",
                body: JSON.stringify(data),
                headers: new Headers({
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                })
            });

            fetch(request);
            reset.click();
        }



        function end_session() {
            const url = "{{ end_session_url }}";

            let data = {
                number: phone_num,
            }

            let request = new Request(url, {
                method: 'POST',
                credentials: "same-origin",
                body: JSON.stringify(data),
                headers: new Headers({
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                })
            });
            fetch(request);
        }
        
        function change_end_color(location, addClass, elem) {
            elem.className += addClass;
            window.location.href = location;
        }




        // const roomName = JSON.parse(document.getElementById('roomName').textContent);
        const roomName = 'Room1';

        let chatLog = document.querySelector("#chatLog"); 
        // let chatMessageInput = document.querySelector("#chatMessageInput");
        // let chatMessageSend = document.querySelector("#chatMessageSend");

        // chatMessageSend.onclick = function() {
        //     if (chatMessageInput.value.length === 0) return;
        //     chatSocket.send(JSON.stringify({
        //         "message": chatMessageInput.value,
        //     }));
        //     chatMessageInput.value = "";
        // };

        let chatSocket = null;

        // Added an extra 's' to make 'wss'.
        function connect() {
            chatSocket = new WebSocket("wss://" + window.location.host + "/ws/whatsapp/" + roomName + "/");

            chatSocket.onopen = function(e) {
                console.log("Successfully connected to the WebSocket.");
            }

            chatSocket.onclose = function(e) {
                console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
                setTimeout(function() {
                    console.log("Reconnecting...");
                    connect();
                }, 2000);
            };

            // chatSocket.onmessage = function(e) {
            //     const data = JSON.parse(e.data);
            //     console.log(data);

            //     switch (data.type) {
            //         case "chat_message":
            //             chatLog.value += data.message + "\n";
            //             break;
            //         default:
            //             console.error("Unknown message type!");
            //             break;
            //     }

                // scroll 'chatLog' to the bottom
            chatLog.scrollTop = chatLog.scrollHeight;
            // };

            chatSocket.onerror = function(err) {
                console.log("WebSocket encountered an error: " + err.message);
                console.log("Closing the socket.");
                chatSocket.close();
            }
        }
        connect();

        

        

        btn.addEventListener("click", send_http);
        reset.addEventListener("click", reset_page); 
        end.addEventListener("click", end_session); 
        input_field.addEventListener("keypress", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    btn.click();
                    reset.click();
                }
        });
    });



</script>
{% endblock %}


{% block content %}
    <br>
    <h1>TextCare</h1>
    <p>
        Welcome to TextCare, a text-based medical advice app<br>
    </p>
    <p>Developed by George & Tiffany</p>
    <h2>Doctor's Chat Console:</h2>
    <br>
    <!-- <pre id="output" style="overflow: auto; height: 100px;">
        <script>
            const script = document.createElement('console_src');
            console_src.src = logfile;
        </script>
        <script>
            console.log(text);
        </script>
    </pre> -->

    <div class="mb-2" style="overflow: auto; height: 100px;">
        <label for="chatLog">Room: #Room1</label>
        <textarea class="form-control" id="chatLog" readonly></textarea>
    </div>

<br>

<form name="char_finder" style="font-size:medium;">
    {% csrf_token %}
    <p><label for="user_input"><b>Hit enter, or click "Send", to send text message:</b></nb></b></label></p>
    <p><textarea rows="2" cols="34" id="user_input" placeholder="Text to be sent"></textarea></p>

    <p><input type="button" id="enter" value="Send">
    <input type="reset" id="clear" value="Clear">
    <input type="button" id="end" value="End Session"></p>

    <p><b>Click "End Session" to end chat session and return patient to triage.</b></p>

    <p id="display" style="font-family: Georgia;"></p>

</form>

<br>

<p style="font-size: small;">NOTE: WhatsApp converations will time out after several hours.<br>
To restart, send an incoming text from the client's phone to the system.
<br>

</p>
<a href="{{ issues_url }}" target="_blank" rel="noopener noreferr">Feedback? Questions? Problems?</a>
<p style="font-size: small;">Click the link above, then click the green "New issue" button,<br>
or add your comments to an existing issue in the list.</p>

{% endblock %}